// CHANGE COLOR
.change-color {
  background-color: hsl(218, 28%, 13%);
  padding-bottom: 34rem;
}

/* CONTENT */

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10rem 15rem;
  width: 900px;
  margin: 0 auto;
  margin-bottom: 16rem;

  &-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #fff;

    &__title {
      font-size: 1.8rem;
      margin-top: 2rem;
      margin-bottom: 1rem;
    }

    &__text {
      font-size: 1.4rem;
    }
  }
}

@media (max-width: 967px) {
  .content {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    &-item__text {
      margin: 0 4rem;
    }
  }
}
